<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>Social Key</title>

	{% if request.user.is_authenticated %}
	    <link rel="stylesheet" type="text/css" href="/static/ext-js/css/ext-all.css" />
	    <link rel="stylesheet" type="text/css" href="/static/desktop/css/desktop.css" />
	    <link rel="stylesheet" type="text/css" href="/static/desktop/css/chooser.css" />
	
	    <!-- GC -->
	    <script type="text/javascript" src="/static/ext-js/js/ext-all.js"></script>
	    <script type="text/javascript" src="/static/desktop/js/app.js"></script>
	{% endif %}
</head>

<body>
	{% if not request.user.is_authenticated %}
		<h1>bit.ly/socialkey</h1>
		Sign-in to continue:	
			<a href="/authenticate/facebook/">Facebook</a> |
			<a href="/authenticate/instagram/">Instagram</a> |
			<a href="/authenticate/tumblr/">Tumblr</a> |
			<a href="/authenticate/twitter/">Twitter</a>
			<br/>
		Source Code: <a href="https://github.com/harpb/Smart-Harp" style="text-decoration:None;"><b>Github</b></a></br/>
		App by <a href="http://twitter.com/_harpb" style="text-decoration:None;"><b>@_harpb</b></a></br/>
		<img src="https://dev.singly.com/images/singly-button.png"/>
	{% else %}
		<div id="logo">
			 <h1>Social Key (bit.ly/socialkey)</h1>
			 <img src="https://dev.singly.com/images/singly-button.png"/>
		</div>
		 <div alt="Powered by Ext JS"id="poweredby">
		 	<div></div>
		 </div>
    {% endif %}
</body>
</html>

